<!DOCTYPE html>
<html lang="en">

<head>
    
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% block page_description %}{% end %}">
<meta content="telephone=no" name="format-detection">

<meta http-equiv="cache-control" content="max-age=0"/>
<meta http-equiv="cache-control" content="no-cache"/>
<meta http-equiv="expires" content="0"/>
<meta http-equiv="pragma" content="no-cache"/>


<title>
    
     :: A smarter way to invest | Ant investor 
    
</title>




<link rel="stylesheet" href="https://antinvestor.com/main.min.27b3c22c45d355151936f0ae8cc320832bbc8083e7707236673941d709daeef2.css">





    <link rel="shortcut icon" href="https://antinvestor.com/images/favicon.ico">





<script type="text/javascript" src="https://antinvestor.com/js/jquery-3.5.0.min.93658f3eb4a044523a7136871e125d73c9005da44ce09045103a35a4f18695888ecafe2f9c0d0fa741b95cc618c6000f9ad9affc821a400ea7e5f2c0c8968530.js" integrity="sha512-k2WPPrSgRFI6cTaHHhJdc8kAXaRM4JBFEDo1pPGGlYiOyv4vnA0Pp0G5XMYYxgAPmtmv/IIaQA6n5fLAyJaFMA=="></script>

</head>

    <body class="page-home page-dark">
<header class="main-header">

    <div class="container">
        <a href="https://antinvestor.com/" class="logo" id="logo"></a>
        <a href="" class="mobile-nav-btn" id="nav"></a>

        <div class="site-nav">
            <ul>
                <li class="operations">
                    <a href="#" id="operations"><p>Operations</p><span class="dropdown" /></a>
                    <ul class="menu-list block raised operations">
                        <div class="description">
                            <h3>Operations</h3>
                            <p>Learn more about how we carry out our day to day businesses.</p>
                        </div>
                        <div class="menu-items">
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-operations.svg"></div><a href="https://antinvestor.com/operations">How we operate</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-bricks.svg" ></div><a href="https://antinvestor.com/relations">How we engage you</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-house-look.svg"></div><a href="https://antinvestor.com/safe_guards">Safe guards</a></li>
                        </div>
                    </ul>
                </li>

                <li class="risk-menu">
                    <a href="#" id="risk-menu"><p>Legal</p><span class="dropdown" /></a>
                    <ul class="menu-list block raised risk-menu">
                        <div class="description">
                            <h3>Legal</h3>
                            <p>Ensure that you understand and are comfortable with the risks before you committing to work with us.</p>
                        </div>
                        <div class="menu-items">
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-briefcase.svg"></div><a href="https://antinvestor.com/terms">Terms and conditions</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-risk.svg"></div><a href="https://antinvestor.com/risks">Risks involved</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-umbrella.svg"></div><a href="https://antinvestor.com/privacy">Privacy policy</a></li>
                        </div>
                    </ul>
                </li>
                <li class="about">
                    <a href="#" id="about"><p>About</p><span class="dropdown" /></a>
                    <ul class="menu-list block raised about">
                        <div class="description">
                            <h3>About</h3>
                            <p>We are on a mission to make any ones investment no matter how small, grow and impact their lives</p>
                        </div>
                        <div class="menu-items">
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-stories.svg"></div><a href="https://antinvestor.com/about">About</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-blog.svg"></div><a href="https://antinvestor.com/blog">Blog</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-paper-plane.svg"></div><a href="https://antinvestor.com/contact">Contact us</a></li>
                        </div>
                    </ul>
                </li>
                <li class="menu-button"><a href="https://antinvestor.com/login" class="btn btn-white-dark-blue login" data-location="home-top-nav"><p>Login</p></a></li>
            </ul>
        </div>

    </div>

</header><div id="content">

<section class="section section-content">
    <div class="container">
        <div class="row">
            <div class="span12of12">

                <article class="block raised-large">

                    <h2 id="privacy-policy">Privacy policy</h2>
<p>Ant Investor Ltd collects and uses personal information generated from our website and our online products and services.
This document explains how we use this information.</p>
<h3 id="1-background">1. Background</h3>
<p>1.1 Ant Investor Limited respects the privacy of our clients and we are committed to keeping all your Personal Data secure.
This Privacy Policy governs the handling of Personal Data by Ant Investor in the course of carrying on commercial activities.</p>
<p>1.2 We use the following definitions in this Privacy Policy:</p>
<ul>
<li>“Ant Investor”, “we or “us” means Ant Investor Limited.</li>
<li>“Personal Data” means any data which relates to a living individual who can be identified from that data.</li>
</ul>
<h3 id="2-the-services-we-provide">2. The Services We Provide</h3>
<p>2.1 This Privacy Policy concerns the information that we collect about you whenever you interact with our services:</p>
<h3 id="3-the-types-of-personal-data-we-collect">3. The Types Of Personal Data We Collect</h3>
<p>3.1. Services offered by Ant Investor require us to obtain Personal Data about you in some cases in order to perform the services we have been engaged to provide.
In relation to each of the services described at paragraph 2.1 above, we will collect and process the following Personal Data about you:</p>
<p>Information that you provide to Ant Investor may include (by way of a non-exhaustive list):</p>
<ul>
<li>basic Personal Data (such as your names; email address; phone number; address; city; postcode; country);</li>
<li>secondary (images of you or your government issued identification documents)</li>
<li>others ( ip addresses, cookies and other annonymised data that is machine generated )</li>
</ul>
<h3 id="4-how-we-use-your-information">4. How We Use Your Information</h3>
<p>4.1 Your Personal Data may be stored and processed by us in the following ways and for the following purposes:</p>
<ul>
<li>allow you to use and access the functionality provided to support Ant Investor Products;</li>
<li>enable you submit your application for Ant Investor Products, where applicable;</li>
<li>set up users to use the the investor portal and/or the broker portal;</li>
<li>statistical monitoring and analysis of our systems and for the on-going adaptation and improvement of the solutions provided;</li>
<li>to send you select direct marketing communications to ensure that you are aware of new products and special offers that may be of interest to you;</li>
<li>for in-depth threat analysis;</li>
<li>for the management and administration of our business;</li>
<li>in order to comply with and in order to assess compliance with applicable laws, rules and regulations, and internal policies and procedures; or</li>
</ul>
<p>4.2 We will take steps to ensure that the Personal Data is accessed only by employees of Ant Investor that have a need to do so for the purposes described in this Privacy Policy.</p>
<h3 id="5-international-transfers-of-personal-data">5. International Transfers Of Personal Data</h3>
<p>5.1 Ant Investor is a global business. Our customers and our operations are spread around the world. As a result we collect and transfer Personal Data on a global basis. That means that we may transfer your Personal Datato locations outside of your country.</p>
<h3 id="6-your-rights">6. Your Rights</h3>
<p>6.1 In all the above cases in which we collect, use or store your Personal Data, you may have the following rights and, in most cases, you can exercise them free of charge. These rights include:</p>
<ul>
<li>the right to obtain information regarding the processing of your Personal Data and access to the Personal Data which we hold about you;</li>
<li>the right to withdraw your consent to the processing of your Personal Data at any time. Please note, however, that we may still be entitled to process your Personal Data if we have another legitimate reason for doing so. For example, we may need to retain Personal Data to comply with a legal obligation;</li>
<li>the right to request that we rectify your Personal Data if it is inaccurate or incomplete;</li>
<li>the right to request that we erase your Personal Data in certain circumstances. Please note that there may be circumstances where you ask us to erase your Personal Data but we are legally entitled to retain it;</li>
<li>the right to object to, or request that we restrict, our processing of your Personal Data in certain circumstances. Again, there may be circumstances where you object to, or ask us to restrict, our processing of your Personal Data but we are legally entitled to refuse that request; and</li>
</ul>
<p>6.2 You can exercise your rights by contacting us directly.</p>
<h3 id="7-designated-representative">7. Designated Representative</h3>
<p>Ant Investor’s may be contacted using the following contact information:</p>
<p>Email Address: <a href="mailto:info@antinvestor.com">info@antinvestor.com</a></p>
<h3 id="8-questions-and-concerns">8. Questions And Concerns</h3>
<p>If you have any questions or concerns about Ant Investor’s handling of your Personal Data, or about this Policy, please contact our Compliance team using the following contact information:</p>
<p>Email Address: <a href="mailto:compliance@antinvestor.com">compliance@antinvestor.com</a></p>
<p>We are usually able to resolve privacy questions or concerns promptly and effectively.</p>
<h3 id="9-marketing">9. Marketing</h3>
<p>You, or someone acting on your behalf, have the right to opt out of receiving some or all of the marketing communications we send you at any time.</p>


                </article>

                <br/>
                <br/>
                <br/>
                <a href="https://antinvestor.com/signup" class="btn btn-dark-blue large get-started center">Get started</a>
            </div>

        </div>
    </div>
</section>



        </div><footer class="section main-footer">
    {% if not user %}
    <section class="section navigation">
        <div class="container">
            <div class="row">
                <div class="span4of12 footer-content">
                    <div class="item-content">
                        <a href="https://antinvestor.com/" class="logo">
                            <img src="https://antinvestor.com/images/logo-light.png" alt="logo-light"/>
                        </a>
                    </div>
                    <br/><br/>
                    <div class="footer-info">
                        <p>A smart way to generate a recurrent revenue in a hands off manner</p>
                    </div>

                    <br/>
                    <br/>
                    <div class="footer-info">
                        <span>© Ant Investor Ltd</span>
                    </div>
                </div>
                <div class="nav-items">
                    <div class="span2of12">
                        <div class="item-content explore">
                            <div class="item-title">Resources</div>
                            <nav>
                                <a href="https://antinvestor.com/" class="link-learn-more">Home</a>
                                <a href="https://antinvestor.com/about" class="link-learn-more">About us</a>
                                <a href="https://antinvestor.com/faq" class="link-learn-more">FAQ</a>
                                <a href="https://antinvestor.com/blog" class="link-learn-more">Blog</a>
                                <a href="https://antinvestor.com/jobs" class="link-learn-more">Careers</a>
                            </nav>
                        </div>
                    </div>
                    <div class="span2of12">
                        <div class="item-content members">
                            <div class="item-title">Members</div>
                            <nav>
                                <a href="https://antinvestor.com/signup" class="link-learn-more" data-location="home-footer">Get
                                    started</a>
                                <a href="https://antinvestor.com/contact" class="link-learn-more" data-location="home-footer">Contact
                                    us</a>
                            </nav>
                        </div>
                    </div>
                    <div class="span2of12 last">
                        <div class="item-content legal">
                            <div class="item-title">Legal</div>
                            <nav>
                                <a href="https://antinvestor.com/privacy" class="link-learn-more">Privacy</a>
                                <a href="https://antinvestor.com/terms" class="link-learn-more">Terms &amp; conditions</a>
                                <a href="https://antinvestor.com/risks" class="link-learn-more">Risk statement</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container disclaimer" id="something">
        <div class="row">
            <p>We do not offer investment advice. Please seek professional advice before deciding to work with
                us.<br/></p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://antinvestor.com/js/app.bundle.min.d417d336f0e35687c3edfedf112e7053cac2eafe169c60d6d3e074a6111065dfb4de9d529bf895bf8022d72d1f98c1cbe22e3dfd01041f1d7e12b376d50308f2.js" integrity="sha512-1BfTNvDjVofD7f7fES5wU8rC6v4WnGDW0&#43;B0phEQZd&#43;03p1Sm/iVv4Ai1y0fmMHL4i49/QEEHx1&#43;ErN21QMI8g=="></script>



<script type="application/javascript">

    new Global();
    new Modal();
    new Header();
</script>
    </body>
</html>
