<!DOCTYPE html>
<html lang="en">

<head>
    
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% block page_description %}{% end %}">
<meta content="telephone=no" name="format-detection">

<meta http-equiv="cache-control" content="max-age=0"/>
<meta http-equiv="cache-control" content="no-cache"/>
<meta http-equiv="expires" content="0"/>
<meta http-equiv="pragma" content="no-cache"/>


<title>
    
     :: A smarter way to invest | Ant investor 
    
</title>




<link rel="stylesheet" href="https://antinvestor.com/main.min.css">





    <link rel="shortcut icon" href="https://antinvestor.com/images/favicon.ico">





<script type="text/javascript" src="https://antinvestor.com/js/jquery-3.5.0.min.js" integrity=""></script>

</head>

    <body class="page-home page-dark">
<header class="main-header">

    <div class="container">
        <a href="https://antinvestor.com/" class="logo" id="logo"></a>
        <a href="" class="mobile-nav-btn" id="nav"></a>

        <div class="site-nav">
            <ul>
                <li class="operations">
                    <a href="#" id="operations"><p>Operations</p><span class="dropdown" /></a>
                    <ul class="menu-list block raised operations">
                        <div class="description">
                            <h3>Operations</h3>
                            <p>Learn more about how we carry out our day to day businesses.</p>
                        </div>
                        <div class="menu-items">
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-operations.svg"></div><a href="https://antinvestor.com/operations">How we operate</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-bricks.svg" ></div><a href="https://antinvestor.com/relations">How we engage you</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-house-look.svg"></div><a href="https://antinvestor.com/safe_guards">Safe guards</a></li>
                        </div>
                    </ul>
                </li>

                <li class="risk-menu">
                    <a href="#" id="risk-menu"><p>Legal</p><span class="dropdown" /></a>
                    <ul class="menu-list block raised risk-menu">
                        <div class="description">
                            <h3>Legal</h3>
                            <p>Ensure that you understand and are comfortable with the risks before you committing to work with us.</p>
                        </div>
                        <div class="menu-items">
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-briefcase.svg"></div><a href="https://antinvestor.com/terms">Terms and conditions</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-risk.svg"></div><a href="https://antinvestor.com/risks">Risks involved</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-umbrella.svg"></div><a href="https://antinvestor.com/privacy">Privacy policy</a></li>
                        </div>
                    </ul>
                </li>
                <li class="about">
                    <a href="#" id="about"><p>About</p><span class="dropdown" /></a>
                    <ul class="menu-list block raised about">
                        <div class="description">
                            <h3>About</h3>
                            <p>We are on a mission to make any ones investment no matter how small, grow and impact their lives</p>
                        </div>
                        <div class="menu-items">
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-stories.svg"></div><a href="https://antinvestor.com/about">About</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-blog.svg"></div><a href="https://antinvestor.com/blog">Blog</a></li>
                            <li><div class="square"><img src="https://antinvestor.com/images/menu-paper-plane.svg"></div><a href="https://antinvestor.com/contact">Contact us</a></li>
                        </div>
                    </ul>
                </li>
                <li class="menu-button"><a href="https://antinvestor.com/login" class="btn btn-white-dark-blue login" data-location="home-top-nav"><p>Login</p></a></li>
            </ul>
        </div>

    </div>

</header><div id="content">

<section class="section section-content">
    <div class="container">
        <div class="row">
            <div class="span12of12">

                <article class="block raised-large">

                    <h3 id="terms-and-conditions-of-service-use">TERMS AND CONDITIONS OF SERVICE USE</h3>
<p>Services offered by Ant investor Ltd, including the information and any images incorporated in the site, is for your personal private non-commercial use only.
You may not modify, republish, post or transmit anything you obtain from this website, including anything you download from our services, unless you first obtain our consent.
You agree not to engage in systematic retrieval of data or other content from any of our services.</p>
<p>Due to possible linguistic differences statements in another language may not necessarily reflect the contents of this document.
In the event of a dispute concerning policy terms, the policy written in English will apply.</p>
<h3 id="limitation-of-liability">LIMITATION OF LIABILITY</h3>
<p>Ant Investor WILL NOT BE RESPONSIBLE FOR ANY DAMAGES OR INJURIES THAT ACCOMPANY OR RESULT FROM YOUR USE OF ITS SERVICES.
THESE INCLUDE (BUT ARE NOT LIMITED TO) DAMAGES OR INJURY CAUSED BY ANY:         (1) USE OF (OR INABILITY TO USE) THE OUR SERVICES;        (2) USE OF (OR INABILITY TO USE) ANY SERVICE TO WHICH YOU ACCESS FROM OUR SERVICE OFFERING;        (3) FAILURE OF PERFORMANCE;        (4) ERROR;        (5) OMISSION;        (6) INTERRUPTION;        (7) DEFECT;         (8) DELAY IN OPERATION OR TRANSMISSION;</p>
<p>WE ARE NOT LIABLE FOR ANY CONSEQUENTIAL OR INCIDENTAL DAMAGES, WHICH ARE DAMAGES INTENDED TO COMPENSATE SOMEONE DIRECTLY FOR A LOSS OR INJURY, DAMAGES REASONABLY EXPECTED TO RESULT FROM A LOSS OR INJURY, OR OTHER MISCELLANEOUS DAMAGES AND EXPENSES RESULTING DIRECTLY FROM A LOSS OR INJURY. FURTHERMORE, EXCEPT AS PROVIDED BELOW, WE ARE NOT LIABLE EVEN IF WE HAVE BEEN NEGLIGENT OR IF OUR AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES—OR BOTH.</p>
<p>DISCLAIMER
THE SERVICES WE OFFER ARE PROVIDED AS IS. THIS MEANS THAT Ant Investor Ltd DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES ABOUT THE CONTENT IN OUR SERVICES.
THIS INCLUDES, BUT IT IS NOT LIMITED TO, WARRANTIES THAT: (1) THE CONTENT IS OF ANY PARTICULAR LEVEL OF QUALITY OR IS FIT FOR A PARTICULAR PURPOSE; (2) THAT THE FUNCTIONAL ELEMENTS CONTAINED IN THE CONTENT WILL BE UNINTERRUPTED OR ERROR-FREE; (3) THAT DEFECTS WILL BE CORRECTED; (4) THAT OUR SERVICES, OR THE SERVERS THAT MAKE THEM AVAILABLE ARE FREE SECURITY LOOPHOLES OR OTHER HARMFUL COMPONENTS OR CONDITIONS; OR (4) THAT INFORMATION CONTAINED IN OUR SERVICES IS ACCURATE AS OF ANY PARTICULAR DATE.</p>
<p>We provide access to other services on the internet from our services or you may have reached our service from other websites and online services.
However, we do not endorse or approve any products or information offered to you by the other sites you may end up accessing from your use of our services.</p>
<p>We do not guarantee that any services we offer will always be available to you or that you will qualify for the products we offer.
Ant Investor is entitled to terminate all or part of any of its services at any time, without notice to you.</p>
<p>By accessing our services, you agree to the following conditions:</p>
<ul>
<li>Ant Investor is authorized to act on instructions received under your password without any requirement to question those instructions;</li>
<li>Ant Investor is not liable for any unauthorized access to your personal information that is not directly due to the negligence of Ant Investor;</li>
<li>Your password contains sensitive information and you will keep it confidential and secret;</li>
<li>You will notify Ant Investor immediately if you believe anyone else has learned your password or if you believe an unauthorized access to Ant Investor or your personal information has occurred or may occur;</li>
<li>Ant Investor will deny access or block any transaction made under your password without prior notice if we believe your password is being used by someone other than you, or if any unauthorized access to your personal information has occurred or may occur, or for any other reason, but we are under no obligation to do so.</li>
<li>Violating the Terms and Conditions of Service Use may lead to a revocation of your access privileges.</li>
</ul>
<h3 id="privacy">PRIVACY</h3>
<p>All information collected from users of our services is subject to our Privacy Policy, which is incorporated by reference into this agreement.
For more information, see our Privacy Policy.</p>
<p>By using the Ant Investor.com website, you agree to these Terms and Conditions of Service Use.</p>
<h3 id="miscellaneous">MISCELLANEOUS</h3>
<p>These Terms and Conditions of Service Use, and the agreement they create, shall be governed by and interpreted according to the law, without giving effect to conflict of laws principles.</p>
<p>If any provision of this agreement is unlawful, void or unenforceable, it shall not affect the validity and enforceability of any remaining provisions.</p>
<p>Ant Investor may modify these Terms and Conditions of Service Use, and the agreement they create, at any time, simply by updating this document and without notice to you.</p>


                </article>

                <br/>
                <br/>
                <br/>
                <a href="https://antinvestor.com/signup" class="btn btn-dark-blue large get-started center">Get started</a>
            </div>

        </div>
    </div>
</section>



        </div><footer class="section main-footer">
    {% if not user %}
    <section class="section navigation">
        <div class="container">
            <div class="row">
                <div class="span4of12 footer-content">
                    <div class="item-content">
                        <a href="https://antinvestor.com/" class="logo">
                            <img src="https://antinvestor.com/images/logo-light.png" alt="logo-light"/>
                        </a>
                    </div>
                    <br/><br/>
                    <div class="footer-info">
                        <p>A smart way to generate a recurrent revenue in a hands off manner</p>
                    </div>

                    <br/>
                    <br/>
                    <div class="footer-info">
                        <span>© Ant Investor Ltd</span>
                    </div>
                </div>
                <div class="nav-items">
                    <div class="span2of12">
                        <div class="item-content explore">
                            <div class="item-title">Resources</div>
                            <nav>
                                <a href="https://antinvestor.com/" class="link-learn-more">Home</a>
                                <a href="https://antinvestor.com/about" class="link-learn-more">About us</a>
                                <a href="https://antinvestor.com/faq" class="link-learn-more">FAQ</a>
                                <a href="https://antinvestor.com/blog" class="link-learn-more">Blog</a>
                                <a href="https://antinvestor.com/jobs" class="link-learn-more">Careers</a>
                            </nav>
                        </div>
                    </div>
                    <div class="span2of12">
                        <div class="item-content members">
                            <div class="item-title">Members</div>
                            <nav>
                                <a href="https://antinvestor.com/signup" class="link-learn-more" data-location="home-footer">Get
                                    started</a>
                                <a href="https://antinvestor.com/contact" class="link-learn-more" data-location="home-footer">Contact
                                    us</a>
                            </nav>
                        </div>
                    </div>
                    <div class="span2of12 last">
                        <div class="item-content legal">
                            <div class="item-title">Legal</div>
                            <nav>
                                <a href="https://antinvestor.com/privacy" class="link-learn-more">Privacy</a>
                                <a href="https://antinvestor.com/terms" class="link-learn-more">Terms &amp; conditions</a>
                                <a href="https://antinvestor.com/risks" class="link-learn-more">Risk statement</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container disclaimer" id="something">
        <div class="row">
            <p>We do not offer investment advice. Please seek professional advice before deciding to work with
                us.<br/></p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://antinvestor.com/js/app.bundle.min.js" integrity=""></script>
    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-138957458-1', 'auto');
	
	ga('send', 'pageview');
}
</script>




<script type="application/javascript">

    new Global();
    new Modal();
    new Header();
</script>
    </body>
</html>
